.avt-cty {
    display: flex;
    width: 1024px;
    height: fit-content;
}

.avt-cty img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.avt-cty a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
}

.avt-cty .name-cty {
    color: #000;
}

.avt-cty .name-sk {
    color: darkgoldenrod;
}

.title-td {
    width: 1024px;
    height: fit-content;
}

.title-td h1 {
    font-size: 30px;
    font-weight: 700;
}

.icon-title {
    display: flex;
    align-items: center;
    margin-left: 2px;
    width: 1024px;
}

.icon {
    position: relative;
    display: flex;
    width: 30px;
    /* height: fit-content; */
}

.main-gthieu-cty .gt-cty {
    width: 1024px;
    height: fit-content;
    display: flex;
    margin-left: 40px;
}

.main-gthieu-cty .gt-cty img {
    width: 50%;
}

.main-gthieu-cty .gt-cty p {
    margin: 5px 10px;
    text-align: justify;
    font-size: 16px;
    /* margin-top: 0%; */
}

.tdung .icon-title h2 {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 15px;
}

.main-gthieu-cviec h2 {
    text-align: center;
    margin-left: 2px;
    color: darkgoldenrod;
}

.main-gthieu-cviec h2:hover {
    color: dodgerblue;
    transition: .5s;
}

.main-gthieu-cviec .so-luoc-cviec {
    width: 1024px;
    height: fit-content;
    background-color: rgb(247, 250, 229);
    border-radius: 8px;
    margin-left: 20px;
    line-height: 10px;
    padding: 10px;
    animation: chanceColor 1s linear infinite;
}

/* .main-gthieu-cviec .so-luoc-cviec:hover {
    background-color: rgb(174, 216, 245);
    transition: .7s;
} */

@keyframes chanceColor {
    0% {
        background-color: rgb(247, 250, 229);
    }

    50% {
        background-color: rgb(174, 216, 245);
    }

    100% {
        background-color: rgb(247, 250, 229);
    }
}

.main-gthieu-cviec .so-luoc-cviec .icon-gt {
    width: 25px;
    height: fit-content;
}

.main-gthieu-cviec .so-luoc-cviec .slcv1 {
    display: flex;
    align-items: center;
    margin: 5px 0px 5px 20px;
}

.main-gthieu-cviec .so-luoc-cviec .slcv1 h3, .main-gthieu-cviec .so-luoc-cviec .slcv1 p {
    padding-top: 10px;
    margin-left: 10px;
    font-size: 16px;
}

.tdung {
    margin-left: 2px;
    margin-top: 20px;
    font-size: 16px;
    width: 1024px;
    height: fit-content;
    line-height: 2;
}

.tdung p, .tdung ul {
    margin: 0% 40px;
}

.tdung ul li{
    margin-left: 30px;
    list-style-type: circle;
    line-height: 1.5;
}

.nut-utuyen {
    width: 1024px;
    text-align: center;
    margin-top: 16px;

}

.nut-utuyen input {
    width: 250px;
    height: 40px;
    font-size: 18px;
    background-color: #ecba02;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    outline: 0;
    border: 2px solid #5e5e5e;
}

.nut-utuyen input:hover {
    background-color: #d8a901;
    transition: .3s;
}