body {
    font-family: 'Nunito', sans-serif;
}

.main-tim-kiem {
    width: 100%;
    height: 400px;
    /* background-color: #FFC800; */
    background-image: url('../data/images/bg-job.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.main-tim-kiem .tim-kiem-td {
    width: 95%;
    height: 80%;
    /* background-color: #0c2d50; */
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    /* box-shadow: 5px 5px 5px darkgray; */
}

.main-tim-kiem .tim-kiem-td .tim-kiem {
    margin: 10px;
}

.main-tim-kiem .tim-kiem-td .tim-kiem a {
    text-decoration: none;
    margin-top: 20px;
    color: chocolate;
}

.main-tim-kiem .tim-kiem-td .tim-kiem h1, .main-tim-kiem .tim-kiem-td .tim-kiem p {
    margin-left: 30px;
}

.main-tim-kiem .tim-kiem-td .tim-kiem .nut-tk {
    text-align: right;
    margin-right: 45px;
}

.main-tim-kiem .tim-kiem-td .tim-kiem .nut-tk input {
    width: 30%;
    height: 10%;
    margin: 10px 0px;
    background-color: transparent;
    border-radius: 2px;
    outline: 0;
    border-width: 0 0 2px;
    color: #fff;
}

.main-tim-kiem .tim-kiem-td .tim-kiem .nut-tk input::placeholder {
    color: white;
    opacity: .8;
}

.main-tim-kiem .tim-kiem-td .tim-kiem .nut-tk input:focus {
    width: 60%;
    transition: .3s;
}

.main-tim-kiem .tim-kiem-td .tim-kiem .nut-tk button {
    width: 70px;
    height: 25px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    outline: 0;
    border-width: 0 0 0;
    border-left: 2px solid #858484;
    background-color: transparent;
}

.main-tim-kiem .tim-kiem-td .tim-kiem .nut-tk button:hover {
    background-color: #c98810;
    transition: .5s;
}


.main-tim-kiem .tim-kiem-td .loc-tim-kiem {
    width: 94%;
    height: 130px;
    /* background-color: #909ebb; */
    margin: 0px 30px 30px;
    font-size: 15px;
    line-height: 35px;
    border-radius: 10px;
}

.main-tim-kiem .tim-kiem-td .loc-tim-kiem select {
    width: 173px;
    height: 30px;
    font-size: 14px;
    border-radius: 3px;
    margin: 5px;
    background-color: #c1cbddb2;
    color: #131212;
}

.main-tim-kiem .tim-kiem-td .loc-tim-kiem select:hover {
    background-color: #606b86;
    transition: .5s;
}

.main-tim-kiem .tim-kiem-td .loc-tim-kiem .loc {
    text-align: right;
    margin: 30px 15px 10px;
}

.main-tim-kiem .tim-kiem-td .loc-tim-kiem .loc button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: #6f747eb2;
    background-color: #6f747eb2;
    box-shadow: 3px 3px 3px #252525;
    cursor: pointer;
}

.main-tim-kiem .tim-kiem-td .loc-tim-kiem .loc button:hover {
    background-color: #c98810;
    transition: .7s;
}

.spinner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#spin {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid transparent;
    background-color: transparent;
    border-left-color: orange;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}