* {
    margin: 0px;
    padding: 0px;
}

::selection {
    background: #0c2d50;
    color: #ccc;
}

/* LOADER */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC800;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}

.loading::before {
    content: "find";
    font-family: 'Satisfy', cursive;
    font-size: 80px;
    animation: anni1 1.3s ease-out infinite;
}

.loading::after {
    content: "er";
    font-family: 'Satisfy', cursive;
    font-size: 80px;
    animation: anni2 1.3s ease-out infinite;
}

.loaded .loading {
    transform: scale(0);
    transition: .5s;
}

/* ----------------------------- */

body {
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    color: #000;
    max-width: 1519px;
}

@keyframes anni2 {
    0% {
        transform: translate(0px, 0px);
    }

    10% {
        transform: translate(100px, 0px);
    }

    20% {
        transform: translate(90px, -50px);
    }

    30% {
        transform: translate(80px, 0px);
    }

    37% {
        transform: translate(70px, -20px);
    }

    46% {
        transform: translate(60px, 0px);
    }

    53% {
        transform: translate(55px, -10px);
    }

    60% {
        transform: translate(50px, 0px);
    }

    68% {
        transform: translate(47px, -8px);
    }

    75% {
        transform: translate(44px, 0px);
    }

    80% {
        transform: translate(40px, -6px);
    }

    85% {
        transform: translate(35px, 0px);
    }

    90% {
        transform: translate(30px, -5px);
    }

    95% {
        transform: translate(25px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes anni1 {
    0% {
        transform: translate(0px, 0px);
    }

    5% {
        transform: translate(-100px, 0px);
    }

    15% {
        transform: translate(-90px, -50px);
    }

    25% {
        transform: translate(-80px, 0px);
    }

    32% {
        transform: translate(-70px, -20px);
    }

    41% {
        transform: translate(-60px, 0px);
    }

    48% {
        transform: translate(-55px, -10px);
    }

    55% {
        transform: translate(-50px, 0px);
    }

    63% {
        transform: translate(-47px, -8px);
    }

    70% {
        transform: translate(-44px, 0px);
    }

    75% {
        transform: translate(-40px, -6px);
    }

    80% {
        transform: translate(-35px, 0px);
    }

    85% {
        transform: translate(-30px, -5px);
    }

    90% {
        transform: translate(-25px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

body.error404 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC800;
    width: 100vw;
    height: 100vh;
}

body.error404::before {
    content: "Trang này chưa được thiết kế";
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    color: #071d35;
    animation: anima 2s ease-out infinite;
}

@keyframes anima {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1..5);
    }

    70% {
        transform: scale(1.1);
    }

    90% {
        transform: scale(0.95);
    }
}

/* /------------------------------------------ */

.container-1024 {
    width: 1024px;
}

.dp-flex-juscenter {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 55px;
    font-weight: 600;
}

h1 span, h2 span, h3 span, h4 span, h5 span, .navbar-brand span:not(.navbar-brand span) {
    color: #fff;
    background-color: #0c2d50;
    padding: 0 3px;
}

/* i {
    margin-right: 10px;
} */

input[type='text'].form-control {
    border-width: 1px;
}

.form-control:focus {
    box-shadow: 0px 0px 5px 0px #0c2d5075;

}

.oi-menu:before {
    content: '\e09b';
}

ul {
    padding-left: 0px;
}

ul li {
    list-style-type: none;
    padding: 5px 0px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #213bbf;
}

button {
    outline: 0px;
    border-width: 0px;
}

.btn-circle {
    border-radius: 50%;
}

.btn-radCircle {
    border-radius: 9999px;
}

.btn-blue {
    background-color: #0c2d50;
    color: white;
    padding: 0px 5px;
}

.btn-blue:hover {
    background-color: #031020;
}

.alert-success, .alert-danger {
    transition: .5s;
}

.hide-alert {
    opacity: 0;
    transition: .5s;
}

/* BADGE - SAVE */

#badge-listSave {
    z-index: 100;
    width: 50px;
    height: 50px;
    font-size: 22px;
    background-color: #0c2d50;
    border: 2px solid #ccc;
    bottom: 50px;
    right: 50px;
}

#badge-listSave span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-size: 12px;
    font-weight: bold;
}

.image-logo {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    transform: scale(1.3);
}

.image-logo-hor {
    width: 230px;
    background-repeat: no-repeat;
}

.image-logo-hor.logo-disney {
    background-image: url('../data/icon/disney-icon.svg');
    height: 100%;
}

.image-logo.logo-gg {
    background-image: url('../data/icon/google-icon.svg');
}

.image-logo.logo-ytbe {
    background-image: url('../data/icon/youtube-icon.svg');
}

.image-logo.logo-git {
    background-image: url('../data/icon/github-icon.svg');
}

.image-logo.logo-beh {
    background-image: url('../data/icon/behance-icon.svg');
}

.image-logo.logo-pint {
    background-image: url('../data/icon/pinterest-icon.svg');
}

.image-logo.logo-micros {
    background-image: url('../data/icon/microsoft-icon.svg');
}

.image-logo.logo-netflix {
    background-image: url('../data/icon/netflix-icon.svg');
}

.text-section {
    font-size: 30px;
    color: #0c2d50;
    opacity: .7;
    font-weight: bold;
}

.content-sect {
    opacity: .8;
}

.post-item {
    height: 250px;
    margin: 10px 0px;
}

.post-item .item-post-header, .post-item .item-post-main {
    cursor: pointer;
}

.name-user {
    font-weight: 700;
    font-size: 12px;
}

.time-post {
    font-weight: 700;
    font-size: 10px;
    opacity: .4;
}

.btn-save {
    position: relative;
    top: 0.5px;
    width: 40px;
    height: 40px;
    background-image: url(../data/icon/save-icon.svg);
    filter: opacity(.5);
    background-repeat: no-repeat;
}

.item-post-footer {
    display: flex;
    /* margin-top: -15px; */
    margin-top: -25px;
    justify-content: center;
    width: 100%;
    /* background-color: red; */
}

.item-post-footer {
    visibility: hidden;
    opacity: 0;
    transition: .1s ease-in;
}

.icon-save-show {
    visibility: visible;
    transition: .3s ease-in-out;
    margin-top: -35px;
    opacity: 1;
}

.item-post-footer .around-btnsave-post {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #fff;
    cursor: pointer;
    /* border: 2px solid rgba(0, 0, 0, 0.22); */
    opacity: .9;
}

.item-post-footer .btn-save {
    width: 25px;
    height: 25px;
    filter: invert(0%) sepia(1%) saturate(7458%) hue-rotate(154deg) brightness(109%) contrast(95%) opacity(.7);
}

.item-post-footer .around-btnsave-post:hover {
    box-shadow: 0px 0px 5px 0px #23232389;
    transition: .3s;
}

.title-post-card {
    font-size: 12px;
    font-weight: 600;
}

.image-post-card {
    width: 100%;
    height: 95px;
    /* background-color: red; */
    text-align: center;
    margin-top: -6px;
}

.card-item {
    border-radius: 10px;
    background: rgba(255, 253, 253, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.22);
    box-sizing: border-box;
    padding: 0px 10px;
}

.card-item .end-date {
    transform: scale(.7);
    margin-left: -15px;
}

.end-date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #FFC800;
    border-radius: 6px;
    font-size: 14px;
    color: #0c2d50;
    font-weight: 600;
}

.social-net {
    display: flex;
    /* background-color: red; */
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}

.social-net .logo-brand {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b9b9b980;
    font-size: 30px;
    cursor: pointer;
}

.social-net .logo-brand a {
    margin-top: 2px;
}

.social-net .logo-brand a:hover {
    color: #000;
    font-size: 33px;
    transition: .3s;
}

input[type='text'] {
    box-sizing: border-box;
    background-color: #ffffff80;
    border-width: 3px;
    border-style: solid;
}

input[type='text']:focus {
    outline: 0;
    box-shadow: 0px 0px 5px 0px #0c2d5075;
    background-color: #ffffff;
    transition: .3s;
}

.dropdown-item {
    cursor: pointer;
}

.form-group {
    margin: 10px 0px;
}

.modal button.btn {
    width: 70%;
    background-color: #FFC800;
    color: #031020;
    font-weight: 600;
}

.modal button.btn:hover {
    background-color: #fad75b;
}

.icon-gray, .icon-yellow, .icon-red {
    cursor: pointer;
}

.icon-yellow {
    color: #d6a800;
}

.icon-gray {
    color: #aaaaa9;
}

.icon-red {
    color: #ff6a6a;
}

.icon-gray:hover {
    color: #0c2d50;
    transition: .3s;
}

.icon-red:hover {
    color: #fc4343;
    transition: .3s;
}

/* HEADER */

.my-navbar-light.scrolled.awake {
    z-index: 100;
    margin-top: 0px;
    -webkit-transition: .5s all ease-out;
    -o-transition: .5s all ease-out;
    transition: .5s all ease-out;

    background: rgba(228, 230, 232, 0.7);
    border: 2px solid rgba(152, 149, 149, 0.26);
    box-sizing: border-box;
    backdrop-filter: blur(50px);
    border-radius: 0px 0px 8px 8px;
}

.my-navbar-light.scrolled.sleep {
    -webkit-transition: .5s all ease-out;
    -o-transition: .5s all ease-out;
    transition: .5s all ease-out;
}

.my-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.my-navbar-light {
    z-index: 100;
    height: 45px;
    background-color: transparent;
}

.brand-name {
    /* font-family: 'Architects Daughter', cursive; */
    font-family: 'Satisfy', cursive;
    display: flex;
    align-items: center;
    position: relative;
}

.brand-large {
    font-size: 35px;
}

.navbar-brand:not(.navbar-brand .move-brand), .brand-name {
    animation: logoFind 2s ease-out infinite;
}

@keyframes logoFind {
    0% {
        color: black;
    }

    30% {
        color: #213bbf;
    }

    60% {
        color: #213bbf;
    }

    100% {
        color: black;
    }
}

.navbar-brand span {
    transition: .3s;
}

.navbar-brand .move-brand {
    position: absolute;
    left: 60px;
    transition: .1s;
}

.move-brand.move-re {
    left: 55px;
    transition: .3s;
}

.nav-link, .navbar-brand {
    color: #000;
}

.main-nav {
    display: flex;
    width: 1024px;
    align-items: center;
    font-size: 20px;
    margin: 0px auto;
}

.main-nav a {
    padding: 5px 10px;
}

.logo {
    width: 30px;
    height: 30px;
    background-color: grey;
}

.nav-left {
    display: flex;
    align-items: center;
    width: fit-content;
}

.nav-center {
    width: 100%;
    justify-content: flex-end;
}

.nav-center a, .dropdown-content ul li {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    transition: .1s;
    margin: 0px 10px;
}

.nav-center a:hover, .nav-center .fas:hover, .dropdown-content ul li:hover {
    transform: scale(1.05);
    transition: .3s;
}

.nav-right {
    display: flex;
    width: fit-content;
    justify-content: flex-end;
}

.btn-signin {
    width: fit-content;
    padding: 0px 10px;
    height: 25px;
    border-radius: 5px;
    font-size: 13px;
}

.dropdown {
    position: relative;
}

.dropbtn {
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.95);
    z-index: 1;
    height: fit-content;
}

.dropdown-content ul {
    margin-top: 10px;
}

.dropdown-content ul li {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-item.active {
    text-decoration: underline;
}

/* HOME */
.container-home {
    position: relative;
    top: -56px;
    width: 100%;
    height: 750px;
    background-image: url(../data/images/bg-1.png);
    background-size: contain;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-position: 100% 0px;
}

.background-blur {
    position: absolute;
    z-index: -100;
    top: 20px;
    width: 100%;
    height: 650px;
    background-image: url(../data/images/blur-bg.png);
    filter: blur(100px);
    background-size: 90%;
    background-position: 0px 0px;
}

.container-home .main-intro {
    position: relative;
    top: 200px;
    left: 70px;
    width: 70%;
}

.container-home .main-intro h1 {
    font-size: 80px;
    font-weight: 500;
}

.container-home .main-intro span {
    background-color: #0c2d50;
    color: rgb(255, 255, 255);
    padding: 2px;
}

.container-home .main-intro p {
    font-size: 30px;
}

/* search */
.container-home .main-intro .search {
    width: 750px;
    margin-top: 100px;
}

.container-home .main-intro #searchJob {
    width: 600px;
    height: 55px;
    padding-left: 30px;
    font-size: 18px;
    border-radius: 10px;
    border-color: rgba(164, 163, 162, 0.38);
}

.container-home .main-intro #searchJob:focus {
    border: 3px solid rgba(193, 142, 91, .7);
}

.container-home .main-intro button {
    position: relative;
    width: 130px;
    height: 55px;
    top: 0.5px;
    left: -20px;
    box-sizing: border-box;
    font-size: 22px;
    border-radius: 10px;
    border: 3px solid #a4a3a261;
    border-image: initial;
}

.container-home .main-intro #searchJob::placeholder {
    font-size: 18px;
    opacity: .7;
}

/* BANNER */
#banner-section {
    position: relative;
    width: 100%;
    height: 500px;
    /* background-color: #fff; */
}

#banner-section .banner-image {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

#banner-section .banner-image .img-carou {
    width: 1200px;
    height: 400px;
    cursor: pointer;
}

#banner-section .banner-image img {
    /* border-radius: 10px; */
    height: 400px;
}

#banner-section .banner-image .carousel-indicators {
    bottom: -60px;
}

#banner-section .banner-image .carousel-indicators button {
    width: 10px;
    height: 10px;
    margin: 0px 10px;
    background-color: #000000;
}

#banner-section .banner-image .carousel-indicators button.active {
    background-color: #FFC800;
    transition: .3s ease-in;
}

/* INTRODUCE */
#introduce-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin: 60px 0px 30px 0px;
    background-color: #f8f8f8;
}

#introduce-section .main-introduce {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 400px;
}

#introduce-section .main-introduce .content-intro {
    height: fit-content;
    /* background-color: pink; */
    padding: 0px 70px 0px 20px;
}

#introduce-section .main-introduce .image-intro {
    width: 40%;
    height: 100%;
}

#introduce-section .main-introduce .img-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    margin: 7px;
    border-radius: 8px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 0px 5px 0px #0c2d5030;
}

#introduce-section .main-introduce .text-intro {
    display: flex;
    align-items: center;
}

#introduce-section .main-introduce .img-intro.img-large-hor {
    width: 295px;
    padding: 10px;
}

#introduce-section .main-introduce p {
    line-height: 1.5;
}

/* HOT POST */
#customers-testimonials .post-item-hot .contain-item {
    width: 250px;
    height: 440px;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

#customers-testimonials .post-item-hot .head-post {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#customers-testimonials .post-item-hot span {
    font-weight: 500;
}

#customers-testimonials .post-item-hot .vacancies {
    font-size: 23px;
    font-weight: 600;
    text-align: center;
}

#customers-testimonials .post-item-hot .detail-vac {
    font-size: 16px;
    text-align: justify;
}

#customers-testimonials .post-item-hot {
    -webkit-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .post-item-hot {
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
}

#customers-testimonials .info-post .icon-post {
    position: relative;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    margin: -10px 5px -10px 0px;
    filter: opacity(.5);
}

#customers-testimonials .info-post p {
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    opacity: .6;
}

#customers-testimonials .info-post .icon-money {
    background-image: url('../data/icon/money-icon.svg');
}

#customers-testimonials .info-post .icon-exp {
    background-image: url('../data/icon/expear-icon.svg');
}

#customers-testimonials .info-post .icon-locate {
    background-image: url('../data/icon/locate-icon.svg');
}

#customers-testimonials .info-post .icon-time {
    background-image: url('../data/icon/clock-icon.svg');
}

/* footer-post */

#customers-testimonials .post-item-hot .footer-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#customers-testimonials .post-item-hot .footer-post button {
    cursor: pointer;
}

#customers-testimonials .post-item-hot .footer-post .btn-seeDetail {
    width: 170px;
    height: 40px;
    font-size: 22px;
}

#customers-testimonials .post-item-hot .footer-post .btn-save:hover {
    filter: opacity(.7);
}

/* LIST POST */

#listpost-section, #listpost {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.container-list-post {
    width: 1024px;
}

.post-item:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    transition: .1s ease-in;
}

.post-item .avatar-user {
    width: 25px;
    height: 25px;
    background-color: #aaa;
    margin-right: 5px;
}

.post-item .item-post-header {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    /* background-color: red; */
}

/* FOOTER */
#footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: 270px;
    background-color: #e2b100;
    background-image: url('../data/images/footer-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#footer-section .footer-container {
    width: 1200px;
    /* min-width: 1024px; */
    padding: 10px;
}

#footer-section .footer-container .contain-footer {
    padding: 10px;
}

#footer-section .contact-us span {
    position: relative;
    margin-left: -16px;
    left: 40px;
}

.copy-right {
    font-size: 18px;
    font-weight: 500;
}

.feed-back .input-feed {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.feed-back .input-feed input {
    width: 220px;
    height: 35px;
    border-radius: 6px 0px 0px 6px;
    border: 2px solid rgba(164, 163, 162, 0.38);
    padding-left: 10px;
    font-size: 13px;
}

.feed-back .input-feed button {
    width: 50px;
    height: 34px;
    border-radius: 6px;
    border: 2px solid rgba(164, 163, 162, 0.38);
    font-size: 15px;
    margin-left: -10px;
}

/* animate */
.ftco-animate {
    opacity: 0;
    visibility: hidden;
    margin-top: 15px;
}

.ftco-animated {
    margin-top: 0px;
    visibility: visible;
    opacity: 1;
    transition: .2s ease-in;
}


/* CV-------------------------------------------------------------------------- */

.header-cv {
    background-color: #FFC800;
}

.profile-edit {
    position: absolute;
    right: 10px;
    top: 10px;
}

.section-cv {
    position: relative;
    margin: 10px 0px;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    padding: 10px;
}

.section-cv h4 {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.icon-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #0c2d50;
    color: #fff;
    font-size: 15px;
    margin-right: 20px;
}

.address-date {
    font-size: 13px;
    font-weight: 700;
    opacity: .4;
    margin-top: -5px;
}

.info-element {
    position: relative;
    left: 20px;
    margin-right: 20px;
    line-height: 1;
}

#profile-section .img-profile {
    display: inline-block;
    vertical-align: middle;
    width: 170px;
    height: 170px;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 12px;
}

#profile-section .img-profile img {
    max-width: 100%;
    width: 170px;
    height: 170px;
}

#profile-section p {
    margin: 5px 0px;
}

#profile-section i {
    margin-right: 10px;
}

#option-section {
    margin-bottom: 20px;
}

/* SAVE----------------------------------------- */
#main-save {
    width: 100%;
}

#main-save table {
    width: 1024px;
    border: 1px solid #ccc;
    margin: 0 auto;
}


/* TUYENDUNG---------------------------------- */

.main-tim-kiem {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url('../data/images/bg-job.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.main-tim-kiem .tim-kiem-td {
    width: 95%;
    height: 80%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.main-tim-kiem .tim-kiem-td .tim-kiem {
    margin: 10px;
}

.main-tim-kiem .tim-kiem-td .tim-kiem a {
    text-decoration: none;
    margin-top: 20px;
    color: chocolate;
}

.main-tim-kiem .tim-kiem-td .tim-kiem h1, .main-tim-kiem .tim-kiem-td .tim-kiem p {
    margin-left: 30px;
}

.main-tim-kiem .tim-kiem-td .tim-kiem .nut-tk {
    text-align: right;
    margin-right: 45px;
}

.main-tim-kiem .tim-kiem-td .tim-kiem .nut-tk input {
    width: 30%;
    height: 10%;
    margin: 10px 0px;
    background-color: transparent;
    border-radius: 2px;
    outline: 0;
    border-width: 0 0 2px;
    color: #fff;
}

.main-tim-kiem .tim-kiem-td .tim-kiem .nut-tk input::placeholder {
    color: white;
    opacity: .8;
}

.main-tim-kiem .tim-kiem-td .tim-kiem .nut-tk input:focus {
    width: 60%;
    transition: .3s;
}

.main-tim-kiem .tim-kiem-td .tim-kiem .nut-tk button {
    width: 70px;
    height: 25px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    outline: 0;
    border-width: 0 0 0;
    border-left: 2px solid #858484;
    background-color: transparent;
}

.main-tim-kiem .tim-kiem-td .tim-kiem .nut-tk button:hover {
    background-color: #c98810;
    transition: .5s;
}

.main-tim-kiem .tim-kiem-td .loc-tim-kiem {
    width: 94%;
    /* background-color: #909ebb; */
    margin: 0px 30px 30px;
    font-size: 15px;
    line-height: 35px;
    border-radius: 10px;
}

.main-tim-kiem .tim-kiem-td .loc-tim-kiem select {
    width: 173px;
    height: 30px;
    font-size: 14px;
    border-radius: 3px;
    margin: 5px;
    background-color: #fff;
    color: #131212;
}

.main-tim-kiem .tim-kiem-td .loc-tim-kiem select:hover {
    background-color: #d3d8e4;
    transition: .5s;
}

.main-tim-kiem .tim-kiem-td .loc {
    text-align: right;
    margin: 30px 15px 10px;
}

.main-tim-kiem .tim-kiem-td .loc button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: #6f747eb2;
    background-color: #0c2d50;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.main-tim-kiem .tim-kiem-td .loc button:hover {
    box-shadow: 0px 0px 5px 0px #f0f0f0;
    background-color: #071d35;
    transition: .3s;
}

.spinner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#spin {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid transparent;
    background-color: transparent;
    border-left-color: orange;
    animation: spin 1s linear infinite;
}

/* CHITIET------------------------------- */
.avt-cty {
    display: flex;
    height: fit-content;
}

.avt-cty img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.avt-cty a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
}

.avt-cty .name-cty {
    color: #000;
}

.avt-cty .name-sk {
    color: darkgoldenrod;
}

.title-td {
    width: 100%;
    height: fit-content;
}

.title-td h1 {
    font-size: 30px;
    font-weight: 700;
}

.icon-title {
    display: flex;
    align-items: center;
    margin-left: 2px;

}

.icon {
    position: relative;
    display: flex;
    width: 30px;
    /* height: fit-content; */
}

.main-gthieu-cty .gt-cty .image-title {
    display: flex;
    align-items: center;
}

.main-gthieu-cty .gt-cty {

    height: fit-content;
    display: flex;
    margin-left: 40px;
}

.main-gthieu-cty .gt-cty p {
    margin: 5px 10px;
    text-align: justify;
    font-size: 16px;
    /* margin-top: 0%; */
}

.tdung .icon-title h2 {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 15px;
}

.main-gthieu-cviec h2 {
    text-align: center;
    margin-left: 2px;
    color: darkgoldenrod;
}

.main-gthieu-cviec h2:hover {
    color: dodgerblue;
    transition: .5s;
}

.main-gthieu-cviec .so-luoc-cviec {

    height: fit-content;
    background-color: rgb(247, 250, 229);
    border-radius: 8px;
    margin-left: 20px;
    line-height: 10px;
    padding: 10px;
    animation: chanceColor 1s linear infinite;
}


@keyframes chanceColor {
    0% {
        background-color: rgb(247, 250, 229);
    }

    50% {
        background-color: rgb(174, 216, 245);
    }

    100% {
        background-color: rgb(247, 250, 229);
    }
}

.main-gthieu-cviec .so-luoc-cviec .icon-gt {
    width: 25px;
    height: fit-content;
}

.main-gthieu-cviec .so-luoc-cviec .slcv1 {
    display: flex;
    align-items: center;
    margin: 5px 0px 5px 20px;
}

.main-gthieu-cviec .so-luoc-cviec .slcv1 h3, .main-gthieu-cviec .so-luoc-cviec .slcv1 p {
    padding-top: 10px;
    margin-left: 10px;
    font-size: 16px;
}

.tdung {
    margin-left: 2px;
    margin-top: 20px;
    font-size: 16px;

    height: fit-content;
    line-height: 2;
}

.tdung p, .tdung ul {
    margin: 0% 40px;
}

.tdung ul li {
    margin-left: 30px;
    list-style-type: circle;
    line-height: 1.5;
}

.nut-utuyen {

    text-align: center;
    margin-top: 16px;

}

.nut-utuyen input {
    width: 250px;
    height: 40px;
    font-size: 18px;
    background-color: #ecba02;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    outline: 0;
    border: 2px solid #5e5e5e;
}

.nut-utuyen input:hover {
    background-color: #d8a901;
    transition: .3s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1199px) {
    .main-tim-kiem .tim-kiem-td .loc-tim-kiem {
        width: 80%;
    }

    .around-loc {
        display: flex;
    }
}

@media screen and (max-width: 991px) {
    .main-tim-kiem {
        height: 450px;
    }
}

@media screen and (max-width: 767px) {
    .main-tim-kiem {
        height: 600px;
    }

    .main-tim-kiem .tim-kiem-td .loc button {

        background-color: #FFC800;
        color: #0c2d50;
    }

    .main-tim-kiem .tim-kiem-td .loc button:hover {
        background-color: #ddad00;
    }
}

/* RESOPNSIVE */
/* <= 1290 */
@media screen and (max-width: 1289px) {
    .container-home {
        height: 600px;
    }

    /* HEADER */
    .my-navbar-light {
        height: 40px;
    }

    .logo {
        width: 25px;
        height: 25px;
    }

    .nav-center a {
        font-size: 11px;
    }

    .btn-signin {
        width: fit-content;
        font-size: 13px;
    }

    /* HOME */

    .container-home .main-intro h1 {
        font-size: 60px;
    }

    .container-home .main-intro p {
        font-size: 20px;
    }

    .container-home .main-intro .search {
        margin-top: 50px;
    }

    .container-home .main-intro #searchJob {
        width: 400px;
        height: 41px;
        font-size: 15px;
        border-width: 2px;
        border-radius: 7px 0px 0px 7px;
    }

    .container-home .main-intro #searchJob:focus {
        border: 2px solid rgba(193, 142, 91, .7);
    }

    .container-home .main-intro button {
        width: 100px;
        height: 41px;
        font-size: 18px;
        border-radius: 8px;
        border-width: 2px;
    }

    .container-home .main-intro #searchJob::placeholder {
        font-size: 15px;
    }


    /* INTRODUCE */
    #introduce-section .main-introduce {
        width: 1024px;
    }

    #introduce-section .main-introduce p {
        line-height: 1.7;
        font-size: 13px;
    }

    /* HOT POST */
    #customers-testimonials .card-item {
        border-width: 0px;
    }

    #customers-testimonials .post-item-hot .contain-item {
        width: 220px;
        height: 315px;
        margin-top: 20px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    }

    #customers-testimonials .post-item-hot .head-post {
        margin-top: 10px;
        width: 100%;
        height: 50px;
    }

    .image-logo {
        background-repeat: no-repeat;
        background-size: contain;
        transform: scale(.8);
    }

    #customers-testimonials .post-item-hot span {
        font-weight: 500;
    }

    #customers-testimonials .post-item-hot .vacancies {
        font-size: 20px;
        font-weight: 600;
    }

    #customers-testimonials .post-item-hot .detail-vac {
        font-size: 13px;
        font-weight: 600;
        text-align: left;
    }

    #customers-testimonials .info-post .icon-post {
        transform: scale(.7);
    }

    #customers-testimonials .info-post p {
        font-size: 11px;
        margin-bottom: 5px;
    }

    /* footer-post */

    #customers-testimonials .post-item-hot .footer-post {
        margin-top: 10px;
    }

    #customers-testimonials .post-item-hot .footer-post .btn-seeDetail {
        width: 150px;
        height: 30px;
        font-size: 18px;
    }

    #customers-testimonials .post-item-hot .footer-post .btn-save {
        width: 30px;
        height: 30px;
    }

    #footer-section .footer-container h2 {
        font-size: 25px;
    }

    #footer-section .footer-container {
        font-size: 13px;
    }

    .feed-back .input-feed input {
        height: 30px;
        font-size: 11px;
    }

    .feed-back .input-feed button {
        position: relative;
        top: 1px;
        height: 30px;
        margin-left: -10px;
    }
}

/* <= 1250 */
@media screen and (max-width: 1249px) {

    .container-home {
        height: 500px;
    }

    #introduce-section .main-introduce .image-intro {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #introduce-section .main-introduce .image-intro {
        transform: scale(.8);
    }

    #banner-section .banner-image .img-carou, #banner-section .banner-image img {
        height: 360px;
    }
}

/* <= 1180 */
@media screen and (max-width: 1180px) {
    .feed-back {
        margin-left: 20px;
    }

    .feed-back .input-feed input {
        width: 100%;
        border-radius: 8px;
    }

    .feed-back .input-feed button {
        width: 100%;
        margin-left: 0px;
    }
}

/* <= 1024 */
@media screen and (max-width: 1024px) {

    .background-blur {
        display: none;
    }

    .container-home {
        height: 450px;
    }

    .main-nav {
        width: 100%;
        margin: 0px 10px;
    }

    .container-home .main-intro {
        top: 80px;
        left: 30px;
    }

    .container-home .main-intro h1 {
        font-size: 40px;
        font-weight: 500;
    }

    .container-home .main-intro p {
        font-size: 20px;
    }

    /* BANNER */
    #banner-section .banner-image .img-carou, #banner-section .banner-image img {
        height: 330px;
    }

}

@media screen and (max-width: 769px) {
    .container-home {
        height: 350px;
    }

    #footer-section {
        background-image: none;
        background-color: #f9c922;
        height: fit-content;
    }

    /* BANNER */
    #banner-section .banner-image .img-carou, #banner-section .banner-image img {
        height: 200px;
    }

    #banner-section {
        height: 320px;
    }

    .item-post-footer {
        visibility: visible;
        opacity: 1;
        margin-top: 0px;
    }
}

@media screen and (max-width: 744px) {

    .container-home {
        height: 300px;
    }

    .container-home .main-intro {
        top: 100px;
        left: 30px;
    }

    .container-home .main-intro h1 {
        font-size: 18px;
    }

    .container-home .main-intro span {
        background-color: #0c2d50;
        color: rgb(255, 255, 255);
        padding: 2px;
    }

    .container-home .main-intro p {
        font-size: 11px;
    }

    /* search */
    .container-home .main-intro .search {
        width: 100%;
        /* background-color: #fff; */
        margin-top: 30px;
    }

    .container-home .main-intro #searchJob {
        width: 100%;
        height: 30px;
        padding-left: 30px;
        font-size: 15px;
        border-width: 2px;
        border-radius: 8px;
    }

    .container-home .main-intro #searchJob:focus {
        border-width: 2px;
    }

    .container-home .main-intro button {
        transition: .3s;
        top: 5px;
        width: 100%;
        height: 30px;
        left: 0px;
        font-size: 13px;
    }

    .container-home .main-intro #searchJob::placeholder {
        font-size: 13px;
    }

    #main-save table tr, #main-save table tr .txtEnd-date {
        font-size: 11px;
    }

    #main-save table tr .end-date {
        width: 70px;
        height: 20px;
    }

    .container-home .main-intro #searchJob::placeholder {
        font-size: 12px;
    }

    .container-home .main-intro #searchJob{
        padding-left: 10px;
    }
}

@media screen and (max-width: 575px) {

    .container-home .main-intro {
        top: 70px;
        left: 30px;
    }

    .container-home {
        height: 250px;
    }

    .my-navbar-light {
        height: fit-content;
        background-color: white;
    }

    .nav-center {
        text-align: right;
    }

    .nav-right {
        width: 100%;
    }

    .btn-collapse {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
    }

    .container-home .main-intro .search {
        width: 50%;
        margin-top: 10px;
    }

    #introduce-section {
        display: none;
    }

    #banner-section .banner-image .img-carou, #banner-section .banner-image img {
        height: 170px;
    }

    #banner-section {
        height: 300px;
    }
}

@media screen and (max-width: 449px) {
    .container-home .main-intro p {
        display: none;
    }

    .text-section {
        font-size: 20px;
        opacity: .9;
    }

    .content-sect {
        font-size: 13px;
    }
}